.login-body-bg{
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-image: url(../images/default/login.png);
}
.login-div{
	top:240px;
	left:450px;
	width:300px;
	position:relative;
}
.login-btn{
	 margin-left: 52px;
	 margin-top: 5px;
	 font-weight: bold;
}