.main-user-icon{
	background-image: url(../images/medal_gold_1.png) !important;
}
.sub-user-icon{
	background-image: url(../images/medal_gold_3.png) !important;
}
.silver-user-icon{
	background-image: url(../images/medal_silver_2.png) !important;
}