<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<!-- <bean id="serializeManager" class="cn.sdk.serialization.KryoUtil"></bean> -->
	<context:annotation-config />
	<context:component-scan base-package="com.lzj" />

	<!-- <context:property-placeholder location="classpath:config.properties"
		ignore-unresolvable="true" /> -->
	<!-- 要调用的工作类 -->
	<!-- <bean id="quartzJob" class="cn.gps.service.impl.IGpsTaskServiceImpl"></bean> -->
	<!-- 定义调用对象和调用对象的方法 -->
	<bean id="jobTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="scheduleTaskService" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	<!-- 定义触发时间 -->
	<bean id="amTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobTask" />
		</property>
		<!-- cron表达式 -->
		<property name="cronExpression">
			<value>0 30/5 9-12 ? * MON-FRI</value>   
		</property>
	</bean> 
	<bean id="pmTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobTask" />
		</property>
		<!-- cron表达式 -->
		<property name="cronExpression">
			<value>0 0/5 13-15 ? * MON-FRI</value>   
		</property>
	</bean>
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="amTime" />
				<ref bean="pmTime" />
			</list>
		</property>
	</bean>
</beans>